bin/
server/target
client/target
worker_initial_state/target
worker_avg/target
worker_map/target
worker_filter_students/target
worker_filter_score/target
worker_join/target
worker_group_by/target
posts_full.csv
comments_full.csv
.DS_Store
clear_space.sh
downloads
